html, body, *{
  text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #832c2c;

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  font-size: 4rem; 
  color: white;
  margin-bottom: 2rem;
  background-color: var(--primary);
}

.main {
width: 100%;
  text-align: center;

}
.display-image {
  width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.brbr {
  font-size: 1.6rem;   /* 16px */
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}


/* .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.display-card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  position: relative;
}

.display-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.meme-text {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
  pointer-events: none;
}

.add-text {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  cursor: pointer;
}

.toggle {
  display: block;
  margin: 2rem auto;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 10px;
  cursor: pointer;
} */