html, body, *{
  text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #832c2c;

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  font-size: 4rem; 
  color: white;
  margin-bottom: 2rem;
  background-color: var(--primary);
}

.main {
width: 100%;
  text-align: center;

}
.display-image {
  width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.brbr {
  font-size: 25px;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
}
.display-card {
  position: relative;
  display: block;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

  font-size: 2.2rem;
  font-weight: bold;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;

  text-shadow:
    2px 2px 0 black,
   -2px -2px 0 black,
    2px -2px 0 black,
   -2px 2px 0 black;
}
.btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  z-index: 1000;
}

