html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
}
:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;

  /* Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;   
}
.display-image {
  width: 100%;
  height: 70px;
  width: 50px;
  object-fit: cover;
}
.button {
   
}